@media only screen and (max-width: 320px) {
  html {
    font-size: 16px; } }

@media only screen and (min-width: 321px) and (max-width: 375px) {
  html {
    font-size: 20px; } }

@media only screen and (min-width: 376px) and (max-width: 450px) {
  html {
    font-size: 24px; } }

@media only screen and (min-width: 451px) and (max-width: 525px) {
  html {
    font-size: 28px; } }

@media only screen and (min-width: 526px) and (max-width: 600px) {
  html {
    font-size: 32px; } }

@media only screen and (min-width: 601px) and (max-width: 675px) {
  html {
    font-size: 36px; } }
