.head {
  font-size: 20px; }

*,
::before,
::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

html,
body {
  height: 100%; }

html {
  background-color: #fff;
  color: #333;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  font-size: 100px; }

body {
  margin: 0;
  line-height: 1.5;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  font-family: '-apple-system', Helvetica Neue, Helvetica, STHeiTi, sans-serif; }

ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0; }

input,
textarea,
button,
select,
pre,
xmp,
tt,
code,
kbd,
samp {
  line-height: inherit;
  font-family: inherit; }

h1,
h2,
h3,
h4,
h5,
h6,
small,
big,
input,
textarea,
button,
select {
  font-size: inherit; }

address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-align: left; }

ul,
ol,
menu {
  list-style: none; }

fieldset,
img {
  border: 0;
  vertical-align: middle; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "\0020"; }

textarea,
pre,
xmp {
  overflow: auto; }

textarea {
  resize: vertical; }

input,
textarea,
button,
select
a {
  outline: 0 none; }

input,
textarea,
button,
select {
  color: inherit; }

input:disabled,
textarea:disabled,
button:disabled,
select:disabled {
  opacity: 1; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none; }

mark {
  background-color: transparent; }

a,
ins,
s,
u,
del {
  text-decoration: none; }

a,
img {
  -webkit-touch-callout: none; }

a {
  color: #121313; }

select {
  -webkit-appearance: none;
  border: 0;
  background: transparent; }

input, select, textarea {
  outline: 0;
  background: transparent;
  border: 0 none; }

input:focus, select:focus, textarea:focus, input:active, select:active, textarea:active {
  outline: 0;
  background: transparent;
  border: 0 none; }

option {
  font-weight: normal;
  display: block;
  padding: 0px 2px 1px;
  white-space: pre; }

::-webkit-inner-spin-button {
  visibility: hidden; }

::-webkit-datetime-edit-text {
  text-align: right; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
@media only screen and (max-width: 320px) {
  html {
    font-size: 16px; } }

@media only screen and (min-width: 321px) and (max-width: 375px) {
  html {
    font-size: 20px; } }

@media only screen and (min-width: 376px) and (max-width: 450px) {
  html {
    font-size: 24px; } }

@media only screen and (min-width: 451px) and (max-width: 525px) {
  html {
    font-size: 28px; } }

@media only screen and (min-width: 526px) and (max-width: 600px) {
  html {
    font-size: 32px; } }

@media only screen and (min-width: 601px) and (max-width: 675px) {
  html {
    font-size: 36px; } }

.head {
  font-size: 0.5rem;
  position: absolute;
  height: 1rem;
  right: 0;
  left: 0;
  text-align: center;
  background-color: #ffd52b;
  color: #7A4624;
  line-height: 1rem; }
